* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.main-section {
  /* border: 2px solid; */
  display: grid;
  grid-template-columns: repeat(18, 55px);
  grid-template-rows: repeat(10, 55px);
  gap: 4px;
  margin: 100px 280px;
}

.box {
  border: 1px solid black;
  text-align: center;
  align-content: center;
  font-size: 1em;
  transition-duration: 1.2s;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: darkblue;
  margin-top: 50px;
}

#box2 {
  grid-column-start: 18;
  /* grid-area: 1/18/2/19; */
}

#box3 {
  /* grid-area: 2/1/3/2; */
}

#box5 {
  grid-column-start: 13;
}

#box13 {
  grid-column-start: 13;
}

#box91 {
  /* grid-column-start: 3; */
  grid-area: 9/3/10/4;
}

#box92 {
  grid-area: 9/4/10/5;
}

#box93 {
  grid-area: 9/5/10/6;
}

#box94 {
  grid-area: 9/6/10/7;
}

#box95 {
  grid-area: 9/7/10/8;
}

#box96 {
  grid-area: 9/8/10/9;
}

#box97 {
  grid-area: 9/9/10/10;
}

#box98 {
  grid-area: 9/10/10/11;
}

#box99 {
  grid-area: 9/11/10/12;
}

#box100 {
  grid-area: 9/12/10/13;
}

#box101 {
  grid-area: 9/13/10/14;
}

#box102 {
  grid-area: 9/14/10/15;
}

#box103 {
  grid-area: 9/15/10/16;
}

#box104 {
  grid-area: 9/16/10/17;
}

#box105 {
  grid-area: 9/17/10/18;
}

#box106 {
  grid-column-start: 3;
  grid-area: 10/3/11/4;
}

#box107 {
  grid-area: 10/4/11/5;
}

#box108 {
  grid-area: 10/5/11/6;
}

#box109 {
  grid-area: 10/6/11/7;
}

#box110 {
  grid-area: 10/7/11/8;
}

#box111 {
  grid-area: 10/8/11/9;
}

#box112 {
  grid-area: 10/9/11/10;
}

#box113 {
  grid-area: 10/10/11/11;
}

#box114 {
  grid-area: 10/11/11/12;
}

#box115 {
  grid-area: 10/12/11/13;
}

#box116 {
  grid-area: 10/13/11/14;
}

#box117 {
  grid-area: 10/14/11/15;
}

#box118 {
  grid-area: 10/15/11/16;
}

#box119 {
  grid-area: 10/16/11/17;
}

#box120 {
  grid-area: 10/17/11/18;
}

.diatomic-non-metal {
  background-color: green;
  color: white;
}

.diatomic-non-metal:hover {
  background-color: lightcoral;
  transform: translateY(-30px) rotate(15deg);
  color: black;
  border-radius: 5px;
  border: none;
}

.alkali-metals {
  background-color: red;
  color: white;
}

.alkali-metals:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.5);
  border: none;
}

.alkaline-metals {
  background-color: orange;
  color: white;
}

.alkaline-metals:hover {
  background-color: maroon;
  transform: skewY(20deg) scale(1.2);
  border-radius: 5px;
  border: none;
}

.transition-metals {
  background-color: dodgerblue;
  color: white;
}

.transition-metals:hover {
  background-color: navy;
  border-radius: 50%;
  transform: scale(1.5) rotate(360deg);
  border-radius: 5px;
  border: none;
}

.lanthanide {
  background-color: darkorchid;
  color: white;
}

.lanthanide:hover {
  background-color: orangered;
  transform: rotateX(360deg) scale(1.6);
  border-radius: 10px;
  border: none;
}

.actinide {
  background-color: hotpink;
  color: white;
}

.actinide:hover {
  background-color: mediumaquamarine;
  transform: rotate(360deg) skewX(30deg);
  border-radius: 10px;
  border: none;
}

.unknown-chemicals {
  background-color: grey;
  color: white;
}

.unknown-chemicals:hover {
  background-color: #5c3317;
  border: none;
  /* animation-name: rotate; */
  border-radius: 50%;
  transform: scaleX(2) skew(20deg);
}

.noble-gas {
  background-color: teal;
  color: white;
}

.noble-gas:hover {
  background-color: darkkhaki;
  border-radius: 5px;
  border: none;
  transform: rotate3d(1, 1, 1, -30deg) scale(1.2);
}

.post-transition {
  background-color: darkslategrey;
  color: white;
}

.post-transition:hover {
  background-color: plum;
  color: black;
  transform: scale(1.4) skewX(20deg);
  border-radius: 5px;
  border: none;
}

.metalloid {
  background-color: darkgoldenrod;
  color: white;
}

.metalloid:hover {
  background-color: olive;
  transform: translateY(50px) rotate(30deg) scale(1.2);
  border-radius: 2px;
  border: none;
}

.polyatomic-nonmetal {
  background-color: mediumvioletred;
  color: white;
  /* animation-name: rotate;
  animation-fill-mode: forwards;*/
  animation: rotate 1s forwards;
}

.polyatomic-nonmetal:hover {
  background-color: #87043f;
  border-radius: 5px;
  border: none;
  animation: rotateOnHover 1s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateOnHover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
