* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(3, 75px);
  border: 2px solid ;
  gap: 10px;
  /* padding: 50px; */
  width: 500px;
}

.box {
  border: 1px solid green;
}

#box1{
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

#box2{
  grid-column-start: 5;
}

#box3{
  grid-column: 1 / span 2 ;
  grid-row: 2 / span 1 ;
}