* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(236, 219, 214); 
}

.clock {
  position: relative;
  height: 500px;
  width: 450px;
  /* border: 1px solid ; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 -3em 3em rgba(4, 233, 4, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(144, 46, 46, 0.6);
}

.numbers {
  position: absolute;
  width: 390px;
  height: 390px;
  background-color: rgb(219, 159, 140);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0 0 0 2px white;
 
}

.numbers .circle::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: var(--clr);
  border-radius: 50%;
  transform: translateX(50%);
  box-shadow: 2px 2px 5px whitesmoke;
}

.numbers::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  z-index: 1000;
}

.numbers span {
  position: absolute;
  inset: 15px;
  text-align: center;
  font-size: 1.2em;
  transform: rotate(calc(30deg * var(--i)));
}

.numbers span b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.numbers .circle {
  position: absolute;
  border: 1px solid;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

/* clock hands */
.numbers .circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background: var(--clr);
  opacity: 0.75;
  transform-origin: bottom;
  transform: scaleY(0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.numbers .circle#sec i {
  width: 3px;
  background: var(--clr);
}

.numbers .circle#min i {
  width: 5px;
  background: var(--clr);
}

.numbers .circle#min {
  width: 230px;
  height: 230px;
}

.numbers .circle#hours {
  width: 180px;
  height: 180px;
}
